<?php namespace client;

class conf{
	// database option
	const database_name = '';
	const database_host = 'localhost';
	const database_user = '';
	const database_password = '';
	// auth option
	const authSalt = '1234567890';
	// php
	const php_timezone = 'Asia/Yekaterinburg';
	const status = 'production';

  /**
  * Email, на который приходят заявки на доступ
  */
  const email_for_registration = 'mail@example.com';

  /**
  * Email, используемый для ответа
  */
  const email_for_reply = 'mail@example.com';
}