@CHARSET "UTF-8";

<<<<<<< HEAD
body{

    font-size:14px;
=======
body {
    font-size: 14px;
>>>>>>> release/917
}

a {
    cursor: pointer;
}

.main{margin-top: 60px}

.navbar .btn-navbar.pull-left {
    float: none;
}

.credit {
    padding-top: 1em;
    font-size: .95em;
}
.container-fluid .credit{
    margin: 20px 0;
}

.modal-body{
    max-height: 100%;
}

.fixed-top {
    position: fixed;
    top:0;
}

.fixed-bottom {
    position: fixed;
    bottom:0;
    right: 20px;
    border-radius: 4px 4px 0 0;
}

.fixed-right {
    position: fixed;
    bottom: 100px;
    right: -70px;
    border-radius: 4px 4px 0 0;
    -webkit-transform: rotate(-90deg); /* Chrome y Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(-90deg); /* Opera */
}

.modal-content select+select{
    margin-top: 10px;
}

.modal-content .form-inline select+select{
    margin-top: 0px;
}

.modal-content .form-inline select,
.modal-content .form-inline input {
    margin: 0 5px;
}


.cm{
	color:#0088CC;
    cursor: pointer;
}

#nt-center a,
#nt-center a:hover,
#nt-center a:active {
    color: #999;
}

.icon-white{
    color: white;
}

.modal-content{
    z-index: 1050;
}

.user-list,
#chat-dates,
#chat-history {
    padding: 0;
}
.chat-users {
    height: 520px;
    overflow: auto;
}
.chat-user {
    padding: 8px;
}
.navbar-top-links .dropdown-menu .chat-users a,
.navbar-top-links .dropdown-menu .chat-discussion a {
    padding: 0;
}
.chat-user.offline a{
    color: #ccc;
}

.chat-discussion {
    height: auto;
}
.chat-feed {
    height: 310px;
    overflow: auto;
}

.message-avatar {
    height: 40px;
    width: 40px;
}

.message-content {
    font-size: 13px;
}

.chat-discussion .chat-message.left .message {
    margin-left: 50px;
}

.chat-discussion .chat-message.right .message {
    margin-right: 50px;
}

.mCSB_container.mCS_no_scrollbar{
    margin-right: 20px !important;
}
.scroller {
    height: 100%;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    right: 4px;
    display: none;
    width: 8px;
    min-height: 50px;
    border-radius: 3px;
    background: #987;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;

}
.scroller__bar:hover {
    opacity: .8;
}
.scroller__bar_state_on {
    display: block;
}

.container1 {
    overflow: hidden;
}


.scroll-to-top {
    opacity: 0;
    position: fixed;
    bottom: 2em;
    height: 32px;
    width: 32px;
    cursor: pointer;
    line-height: 28px;
    text-align: center;
    display: none;
    color: rgb(246, 246, 246);
    font-size: 24px;
    border-radius: 50%;
    background: rgb(219, 219, 218);
}
.scroll-to-top:hover{
    background: rgb(99,99,99);
}

@media (min-width: 32em){

}


@media (min-width: 48em){
    .modal{
        min-width: 560px;
    }
    .scroll-to-top {
        opacity: 1;
    }
    .credit {
        margin-left: 40px;
    }
    .navbar-top-links .dropdown-messages {
        width: 610px;
    }
}

@media print{
    #print{
        display: none;
    }
}
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('../images/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/

    position: relative;
    display: inline-block;
}

#reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
}

#reviewStars-input #star-0 {
    left: 0px;
}
#reviewStars-input #star-1 {
    left: 53px;
}
#reviewStars-input #star-2 {
    left: 106px;
}
#reviewStars-input #star-3 {
    left: 159px;
}
#reviewStars-input #star-4 {
    left: 212px;
}
#reviewStars-input #star-5 {
    left: 265px;
}