.agile-list .query {
    padding: 0;
}

.agile-list > li {
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    margin: 0px 0 10px 0;
    padding: 10px;
    border-radius: 2px;
}

.query-container {
    max-width: 810px;
}

.query-wrap {
    padding: 10px;
}

.old-queries li{
    margin:2px;
    padding:2px;
}

.query_controls{
   margin-top: 5px;
}
.queries_legend {border-left:20px solid transparent; margin: 2px 0; padding: 0 5px;}
.agile-list .query {border: none; border-left:3px solid transparent;}
.queries_open, .agile-list .query_status_open {border-color: #ff0000;}
.queries_close, .agile-list .query_status_close {border-color: #cccccc;}
.queries_reopen, .agile-list .query_status_reopen {border-color: blue;}
.queries_working, .agile-list .query_status_working {border-color: black;}

.timeline .pagination{
    margin: 0;
}
.timeline .btn-group{
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
}
.timeline-control, .timeline-day {
    cursor: pointer;
    height:34px;
    line-height: 20px;
    font-size:12px !important;
    padding: 5.5px;
    margin-bottom: 18px;
}
.timeline-day-wday{
    margin-top:5px;
    font-size:10px;
    color: black;
    font-weight: normal;
}
ul.query-sub, ul.query-general{
    list-style:none;
}

.filters select {
    margin-bottom: 10px;
}

.datepicker{
    z-index: 1060!important;
}

.query_controls + .page-header{
    z-index: 1;
}

@media (max-width: 768px){
    .query_controls {margin: 0 !important;}
}

@media (min-width: 768px){
    .query_controls + .page-header{
        padding: 0;
        margin: 10px 0;
    }
}