.workspace{
  margin: 20px 0px 20px 0px;
}



/* begin users */
.workspace > .users{
  margin: 20px 0px 20px 0px;
}

.workspace > .users{
  margin: 20px 0px 20px 0px;
}

.workspace > .users .user-content{
  margin: 20px 0px 20px 20px;
}
/* end users */



/* begin groups */
.workspace > .groups{
  margin: 20px 0px 20px 0px;
}
/* end groups */