<?php

class application_configuration{
	// database option
	const database_name = '';
	const database_host = 'localhost';
	const database_user = '';
	const database_password = '';
	// auth option
	const authSalt = '1234567890';
	//chat
	const chat_enable = false;
	const chat_host = '';
	const chat_port = 0;
	// php
	const php_timezone = 'Asia/Yekaterinburg';
	const status = 'production';
}