.query{
	background-color: #e8eefa;
	max-width: 800px;
	margin: 2px;
}
.query-wrap{
    padding:3px 5px;
}


.query_status_open {border-left:4px solid #ff0000;}
.query_status_close {border-left:4px solid #cccccc;}
.query_status_reopen {border-left:4px solid blue;}
.query_status_working {border-left:4px solid black;}

.timeline-day {
    cursor: pointer;
    width:14px;
    height:14px;
    line-height: 14px;
    text-align: center;
    display:inline-block;
    padding: 4px;
    border:1px solid black;
}
.timeline-day-wday{
    margin-top:3px;
    font-size:10px;
}
.timeline-day-current{
    background: red;
}
.timeline-month{
    text-align:center;
}
ul.query-sub, ul.query-general{
    list-style:none;
}