.query{
	background-color: #e8eefa;
	max-width: 800px;
	margin: 2px;
}
.query-wrap{
    padding:3px 5px;
}

.query_controls{
   margin-left: 6% !important;
   margin-top: 20px;
}

.query_status_open {border-left:4px solid #ff0000;}
.query_status_close {border-left:4px solid #cccccc;}
.query_status_reopen {border-left:4px solid blue;}
.query_status_working {border-left:4px solid black;}

.query_controls + .page-header{
    padding: 0;
    margin: 10px 0;
}

.timeline .pagination{
    margin: 0;
}
.timeline .btn-group{
    white-space: normal;
}
.timeline-control, .timeline-day {
    cursor: pointer;
    width:16px;
    height:16px;
    line-height: 16px;
    font-size:12px !important;
    padding: 4px;
    margin-bottom: 14px;
}
.timeline-day-wday{
    margin-top:3px;
    font-size:10px;
    color: black;
}
.timeline-month{
    text-align:center;
}
ul.query-sub, ul.query-general{
    list-style:none;
}

@media (max-width: 768px){
    .query_controls {margin: 0 !important;}
}