.btn-group .btn{
    font-size: .9em;
    margin: 0;
}
.btn {
    font-size: .9em;
    margin: 0 2px;
}
.btn:first-child{
    margin-left: 0!important;
}
.task-media{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    line-height: 38px;
    padding: 0;
    font-size: 1.2em;
    position: relative;
}
.glyphicon.task-media{
    width: 25px;
}
.task-media small{
    font-weight: normal;
    font-size: 50%;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 38px;
}
.list-group-item-heading{
    height: 2.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
    word-wrap: break-word;
}
#task_content section{
    min-height: 600px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    word-wrap: break-word;
    padding: 0 15px;
}
.form-control.task_time_target[readonly]{
    width: 130px;
    margin: 0 5px 0 -20px;
}
#task-time_close.form-control[readonly],
#task-time_target.form-control[readonly],
.form-control.task_time_target[readonly]{
    display: inline-block;
    cursor: default;
    background-color: #fff;
}

.well.bg-info{
    background-color: #d9edf7;
}

.task_rating label{
    width: 22px;
    height: 20px;
    background: url('/templates/default/images/ico-s71a7fdede6.png') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    margin: -5px 0 0;
}
.task_rating label.color-star{
    background-position: 0 -21.5px;
}