@CHARSET "UTF-8";
html,body{
    height: 100%;
}
.main{margin-top: 60px}
@media (max-width: 979px){
    .main {margin: 60px 0px 0px 0px;}
}
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
footer{
    height: 60px;
}
.container-fluid .credit{
    margin: 20px 0;
}
.cm{
	color:blue;
}
@media (max-width: 979px){
 .main {margin: 60px 0px 0px 0px;}
}


#_hidden_notification_center{

	position:absolute;
	top:50px;
	right:0px;
	z-index:101;
	width:600px;
	height:600px;
	background:white;
	border: 1px solid black;
}