@CHARSET "UTF-8";
html,body{
	height: 100%;
}
.main{margin-top: 60px}
@media (max-width: 979px){
    .main {margin: 60px 0px 0px 0px;}
}
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
footer, #push{
    height: 60px;
}
.container-fluid .credit{
    margin: 20px 0;
}
.cm{
	color:blue;
}
@media (max-width: 979px){
 .main {margin: 60px 0px 0px 0px;}
}
#_hidden_notification_center{
	position:absolute;
	top:50px;
	right:0px;
	z-index:101;
	width:600px;
	height:600px;
	background:white;
	border: 1px solid black;
}


.popover{
    width:600px;
    height: 600px;
}

.popover-title {
    display: none;
}

.user-list {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 580px;
    border-right: 1px solid #000;
}

.chat-list{
    position: relative;
    overflow: hidden;
    height: 580px;
    width: 370px;
    background: #ddd;
}

.chat {
    max-height: 580px;
}

.feed{
    height: 400px;
}

.scroller {
    height: 100%;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    right: 4px;
    display: none;
    width: 8px;
    min-height: 50px;
    border-radius: 3px;
    background: #987;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;

}
.scroller__bar:hover {
    opacity: .8;
}
.scroller__bar_state_on {
    display: block;
}

.container1 {
    overflow: hidden;
}

.offline {
    color: #ccc;
}

.user-list, .chat-list {
    display: table-cell;
}