@CHARSET "UTF-8";
html,body{
	height: 100%;
    background-color: rgb(246,246,246);
}

.main{margin-top: 60px}

.navbar .btn-navbar.pull-left {
    float: none;
}

#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
footer, #push{
    height: 60px;
}
.container-fluid .credit{
    margin: 20px 0;
}

.modal-body{
    max-height: 100%;
}

.fixed-top {
    position: fixed;
    top:0;
}

.fixed-bottom {
    position: fixed;
    bottom:0;
    right: 20px;
    border-radius: 4px 4px 0 0;
}

.fixed-right {
    position: fixed;
    bottom: 100px;
    right: -70px;
    border-radius: 4px 4px 0 0;
    -webkit-transform: rotate(-90deg); /* Chrome y Safari */
    -moz-transform: rotate(-90deg); /* Firefox */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
    -o-transform: rotate(-90deg); /* Opera */
}

.modal-content select+select{
    margin-top: 10px;
}

.modal-content .form-inline select+select{
    margin-top: 0px;
}

.modal-content .form-inline select,
.modal-content .form-inline input {
    margin: 0 5px;
}


.cm{
	color:#0088CC;
    cursor: pointer;
}

.modal{
    min-width: 560px;
}

.icon-white{
    color: white;
}

.modal-content{
    z-index: 1050;
}

#_hidden_notification_center{
	position:absolute;
	top:50px;
	right:0px;
	z-index:101;
	width:600px;
    height: 500px;
	background:white;
	border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

div[class^=chat-col-]{
    position: relative;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.chat-col-left{
    border-right: 1px solid rgba(0,0,0,.1);
}

#chat-user-filter{
    padding-right: 24px;
}

#chat-user-filter::-ms-clear {
    display: none;
}

#chat-user-filter-clear {
    float: none;
    position: absolute;
    right: 14px;
    top: 18px;
}

.chat-user-list{
    overflow: auto;
    height: 450px;
}

.chat-users{
    margin: 0;
    padding: 0;
}

.chat-users li{
    list-style: none;
    margin: 5px 0;
}

.chat-users li a{
    padding: 5px;
    margin-left: 15px;
}

.chat-users li a:before{
    content: "\2022";
    font-size: 2.2em;
    height: 21px;
    position: absolute;
    left: 0;
    margin-top: -12px;
}

.chat-users li.offline a:before{
    color: palevioletred;
}

.chat-users li.online a:before{
    color: greenyellow;
}

.chat-users li.offline a{
    color: #ccc;
}

.chat-users li.active a{
    border-radius: 5px;
    background-color: #e8e8e8 !important;
    color: #08c !important;
    font-weight: bold;
}

.chat-users li.active.offline a{
    border-radius: 5px;
    background-color: #e8e8e8 !important;
    color: #7c7d7e !important;
}


.chat-users .status {
    font-size: 2.2em;
    vertical-align: middle;
    margin: 0 3px;

}

.mCSB_container.mCS_no_scrollbar{
    margin-right: 20px !important;
}

.chat {
    max-height: 480px;
    margin: 0;
    margin-bottom: 126px;
}

.chat h4 {
    position: relative;
    text-align: center;
    background: #dedede;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

.chat .chat-history{
    margin: 0;
    position: absolute;
    right: 2px;
    top: 2px;
}

.chat-feed{
    height: 310px;
    overflow: auto;
}

.chat-feed ul {
    margin: 0;
    padding: 0;
}

.chat-feed header{
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    border-radius: 3px;
    margin: 1px 0;
    border: 1px solid #e1e9ec;
}

.chat-feed header .caret{
    margin-top: 8px;
    margin-right: 8px;
}

.chat-feed blockquote{
    position: relative;
    padding: 0;
}

.chat-feed blockquote.pull-left{
    padding-right: 35px;
}

.chat-feed blockquote.pull-right{
    padding-left: 35px;
}

.chat-feed blockquote p {
    word-wrap: break-word;
    max-width: 300px;
}

.chat-feed blockquote small {
    display: inline-block;
    margin-top: -20px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 70%;
}

.chat-feed blockquote.pull-right small{
    right: auto;
    left: 0;
}

.chat-feed blockquote.pull-right small:after,
.chat-feed blockquote small:before {
    content: '';
}


.scroller {
    height: 100%;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    right: 4px;
    display: none;
    width: 8px;
    min-height: 50px;
    border-radius: 3px;
    background: #987;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;

}
.scroller__bar:hover {
    opacity: .8;
}
.scroller__bar_state_on {
    display: block;
}

.container1 {
    overflow: hidden;
}

/*@media (max-width: 979px){*/
    /*.main {margin: 0;}*/
/*}*/

@media print{
    #print{
        display: none;
    }
}