@CHARSET "UTF-8";
html,body{
	height: 100%;
}
.main{margin-top: 60px}
@media (max-width: 979px){
    .main {margin: 60px 0px 0px 0px;}
}
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
footer, #push{
    height: 60px;
}
.container-fluid .credit{
    margin: 20px 0;
}

.modal-body{
    max-height: 100%;
}

.cm{
	color:blue;
}
@media (max-width: 979px){
 .main {margin: 60px 0px 0px 0px;}
}
#_hidden_notification_center{
	position:absolute;
	top:50px;
	right:0px;
    padding: 10px;
	z-index:101;
	width:600px;
	height:600px;
	background:white;
	border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.user-list, .chat-list {
    position: relative;
    height: 600px;
    display: inline-block;
    vertical-align: top;
}

.chat-list{
    width: 400px;
}

.user-list{
    width: 195px;
    border-right: 1px solid rgba(0,0,0,.1);
    overflow: auto;
}

.users{
    margin: 0;
}

.users li{
    list-style: none;
    margin: 5px 0;
}

.users li a{
    padding: 5px;
}

.users li.active a{
    border-radius: 5px;
    background-color: #e8e8e8 !important;
    color: #08c !important;
}

form.well{
    margin: 0;
}

.chat {
    max-height: 600px;
    padding: 0 10px;
}

.chat h6 {
    text-align: center;
    background: #dedede;
    border-radius: 4px 4px 0 0;
    margin: 0;
}



.chat textarea{
    width: 336px;
    height: 40px;
}

.feed{
    height: 435px;
    overflow: auto;
    margin: 0 0 10px;
}

.feed ul {
    margin: 0;
}

.feed header{
    text-align: center;
    font-weight: bold;
    display: block;
}

.feed blockquote{
    position: relative;
    padding: 0;
}

.feed blockquote.pull-left{
    padding-right: 35px;
}

.feed blockquote.pull-right{
    padding-left: 35px;
}

.feed blockquote p {
    word-wrap: break-word;
    max-width: 300px;
}

.feed blockquote small {
    display: inline-block;
    margin-top: -20px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 70%;
}

.feed blockquote.pull-right small{
    right: auto;
    left: 0;
}

.feed blockquote.pull-right small:after,
.feed blockquote small:before {
    content: '';
}


.scroller {
    height: 100%;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    right: 4px;
    display: none;
    width: 8px;
    min-height: 50px;
    border-radius: 3px;
    background: #987;
    opacity: .6;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;

}
.scroller__bar:hover {
    opacity: .8;
}
.scroller__bar_state_on {
    display: block;
}

.container1 {
    overflow: hidden;
}

.offline {
    color: #ccc;
}

.user-list li.active a{
    font-weight: bold;
}