.nav-fixed{
    position: fixed;
    margin:-20px;
    left: 0;
    padding: 0 20px;
}

.nav-fixed + .streets {
    padding-top: 30px;
}

#filter-numbers .close{
    line-height: 14px;
    padding-left: 5px;
}

#filter-numbers span.label {
    margin: 0 3px;
}

#search-number{
    margin: 0;
}
.streets, .houses, .numbers{
    list-style:none;
}

.houses, .numbers {
    margin: 0 0 10px 25px;
}

.streets.nav-tabs>li>a, .houses.nav-tabs>li>a, .numbers.nav-tabs>li>a,
.streets.nav-tabs>.active>a, .houses.nav-tabs>.active>a, .numbers.nav-tabs>.active>a{
    border: none;
    cursor: pointer;
    background: transparent;
}

.streets.nav>li>a:hover, .houses.nav>li>a:hover, .numbers.nav>li>a:hover{
    text-decoration: underline;
    border: none;
}