#filter-numbers .close{
    line-height: 14px;
    padding-left: 5px;
}

#filter-numbers span.label {
    margin: 0 3px;
}

.streets, .houses, .numbers{
    list-style:none;
}

.houses, .numbers {
    margin: 0 0 10px 25px;
}

.streets.nav-tabs>li>a, .houses.nav-tabs>li>a, .numbers.nav-tabs>li>a{
    border: none;
    cursor: pointer;
}

.streets.nav>li>a:hover, .houses.nav>li>a:hover, .numbers.nav>li>a:hover{
    background: transparent;
    text-decoration: underline;
}