<?php namespace config;

class general extends default_config{

  // db option
  const db_name = 'test';
  const db_user = 'test';
  const db_password = 'test';

  /**
  * Email, используемый для ответа
  */
  const email_for_reply = 'noreply@example.com';
  const email_for_reply_password = 'password';
}