.navbar-fixed{
    position: fixed;
    margin: -20px 0;
    z-index: 1;
    padding-top: 10px;
    max-width: 1200px;
    width: 100%;
}

.navbar-fixed + .streets {
    padding-top: 30px;
}

#filter-numbers .close{
    line-height: 14px;
    padding-left: 5px;
    float: none;
    vertical-align: middle;
}

#filter-numbers span.label {
    margin: 0 3px;
}

#search-number{
    margin: 0;
}
.streets, .houses, .numbers{
    list-style:none;
    border: none;
}

.streets.nav>li>a,
.houses.nav>li>a,
.numbers.nav>li>a{
    padding: 5px 15px;
}

.houses{
    margin: 0 0 10px 25px;
}

.house-content {
    margin: 10px 0px 40px 20px;
}

.streets.nav-tabs>li>a, .houses.nav-tabs>li>a, .numbers.nav-tabs>li>a,
.streets.nav-tabs>.active>a, .houses.nav-tabs>.active>a, .numbers.nav-tabs>.active>a{
    border: none;
    cursor: pointer;
    background: transparent;
}

.streets.nav>li>a:hover, .houses.nav>li>a:hover, .numbers.nav>li>a:hover{
    text-decoration: underline;
    border: none;
}

.number-content{
    padding: 0px 0px 0px 40px;
}

table caption h3 {
    line-height: 20px;
    display: inline-block;
}

.table th, .table td {
    vertical-align: middle;
}

.table th > input, .table td > input{
    margin: 0;
}

@media (max-width: 979px) {
    .navbar-fixed {
        position: static;
        margin: 0 -20px 20px;
        padding: 0;
    }

    .navbar-fixed + .streets {
        padding-top: 0;
    }
}
.number-content{
    padding:20px 20px;
}

/**
* typeahead
**/
.typeahead, .tt-query, .tt-hint{
    display: block!important;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin: 2px 0 0;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.tt-suggestion {
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}