form.well {
    padding: 10px 19px;
}

#chat {
    padding: 10px;
    z-index:101;
    width:600px;
    height: 500px;
    background:white;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}